@using DevExpress.Xpo
@using Xenial.Identity.Models
@inject UnitOfWork UOW

@{
    var theme = UOW.FindObject<XpoThemeSettings>(null);
    var title = string.IsNullOrEmpty(theme.Title) ? "Xenial" : theme.Title;
    var lockField = theme.ClassInfo.OptimisticLockField.GetValue(theme);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=5" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@title</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/themes/favicon?@lockField" />
    <link rel="icon" type="image/x-icon" href="~/themes/favicon?@lockField" />

    <link rel="stylesheet" href="~/css/bundle.css" />
    <link rel="stylesheet" href="~/themes/styles?@lockField" />
</head>
<body>
    <input class="xenial__toggletheme-checkbox" id="xenial-toggle-theme" type="checkbox" aria-hidden="true">
    <div class="xenial-body @ViewContext.ViewData["ASideClass"]">
        <partial name="_Nav" />

        <main>
            <div class="article-wrapper">
                <aside>@RenderSection("aside", required: false)</aside>
                <article>
                    @RenderBody()
                </article>
            </div>
        </main>
        <partial name="_Footer" />
    </div>
    <script src="~/js/index.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
