@inject UnitOfWork UOW
@inject ISnackbar Snackbar
@page "/Admin2/Footer"

<MudText Typo="Typo.h3" GutterBottom>Footer</MudText>

<MudStack Row="false">
    <MudSwitch @bind-Checked="@theme.ShowFooter"
               Label="Show Footer"
               Color="Color.Secondary" />

    @if (theme.ShowFooter)
    {
        <MudSwitch @bind-Checked="@theme.ShowHearts"
               Label="Show Hearts"
               Color="Color.Secondary" />

        <MudSwitch @bind-Checked="@theme.ShowLicenses"
               Label="Show Licenses"
               Color="Color.Secondary" />

        <MonacoEdit @bind-Value="@theme.LicenceHtml"
                Height="200px"
                ExpandHeightOnFocus="500px"
                Language="CodeLanguage.Html"
                Visible="@theme.ShowLicenses" />

        <MudSwitch @bind-Checked="@theme.ShowImprint"
               Label="Show Imprint"
               Color="Color.Secondary" />

        <MonacoEdit @bind-Value="@theme.ImprintHtml"
                Height="200px"
                ExpandHeightOnFocus="500px"
                Language="CodeLanguage.Html"
                Visible="@theme.ShowImprint" />

        <MudSwitch @bind-Checked="@theme.ShowTermsOfUse"
               Label="Show Terms of Use"
               Color="Color.Secondary" />

        <MonacoEdit @bind-Value="@theme.TermsOfUseHtml"
                Height="200px"
                ExpandHeightOnFocus="500px"
                Language="CodeLanguage.Html"
                Visible="@theme.ShowTermsOfUse" />

        <MudSwitch @bind-Checked="@theme.ShowCopyright"
               Label="Show Copyright"
               Color="Color.Secondary" />

        <MonacoEdit @bind-Value="@theme.CopyrightHtml"
                Height="200px"
                ExpandHeightOnFocus="500px"
                Language="CodeLanguage.Html"
                Visible="@theme.ShowCopyright" />

        <MudSwitch @bind-Checked="@theme.ShowRuntimeInformation"
               Label="Show Runtime Information"
               Color="Color.Secondary" />
    }

    <MudButton Variant="Variant.Filled"
               Color="Color.Success"
               OnClick="SaveChanges">Save</MudButton>
</MudStack>

@code {
    private XpoThemeSettings theme;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        theme = UOW.FindObject<XpoThemeSettings>(null);
    }

    private void SaveChanges()
    {
        try
        {
            UOW.CommitChanges();
            Snackbar.Add("Changes saved successfully", Severity.Success);
        }
        catch (Exception ex)
        {
            Snackbar.Add($"<ul><li>Could not save changes</li><li>{ex.Message}</li></ul>", Severity.Error);
        }
    }
}
