@inject UnitOfWork UOW
@inject ISnackbar Snackbar
@page "/Admin2/Theme"

<MudText Typo="Typo.h3" GutterBottom>Themes</MudText>

<MudStack Row="false">

    <MudTextField @bind-Value="@title"
                  Label="Title"
                  Placeholder="Xenial"
                  Variant="Variant.Outlined" />

    <MudText Typo="Typo.caption" GutterBottom>Logo</MudText>

    <div style="max-height: 100px; display: grid;">
        <MudImage Fluid="true" Src="@imgUrl" />
    </div>

    <InputFile id="logoInput" OnChange="UploadFiles" hidden accept=".jpg, .jpeg, .png, .svg" />

    <MudButton HtmlTag="label"
               Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Filled.CloudUpload"
               for="logoInput">
        Upload Logo
    </MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Error"
               StartIcon="@Icons.Filled.Delete"
               OnClick="DeleteLogo">Delete Logo</MudButton>

    <MudDivider />


    <MudText Typo="Typo.caption" GutterBottom>Favicon</MudText>

    <div style="display: grid;">
        <MudImage Src="@faviconUrl" Width="16" />
        <MudImage Src="@faviconUrl" Width="32" />
        <MudImage Src="@faviconUrl" Width="64" />
    </div>

    <InputFile id="faviconInput" OnChange="UploadFavicon" hidden accept=".ico" />

    <MudButton HtmlTag="label"
               Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Filled.CloudUpload"
               for="faviconInput">
        Upload Favicon
    </MudButton>
    <MudButton Variant="Variant.Filled"
               Color="Color.Error"
               StartIcon="@Icons.Filled.Delete"
               OnClick="DeleteFavicon">Delete Favicon</MudButton>

    <MudDivider />

    <MudTextField @bind-Value="@logoTeaserFirstRow"
                  Label="Logo Teaser Row 1"
                  Placeholder="Manuel Grundner"
                  Variant="Variant.Outlined" />

    <MudTextField @bind-Value="@logoTeaserSecondRow"
                  Label="Logo Teaser Row 2"
                  Placeholder="code & consult"
                  Variant="Variant.Outlined" />


    <MudText Typo="Typo.caption" GutterBottom>Custom-CSS</MudText>
    <MonacoEdit @bind-Value="@customStyleSheet"
                Language="CodeLanguage.Css" />

    <MudButton Variant="Variant.Filled"
               Color="Color.Success"
               OnClick="SaveChanges">Save</MudButton>
</MudStack>

@code {
    private Random rng = new Random();
    private int imageRand = 0;
    private string imgUrl => $"./themes/logo?{imageRand}";
    private string faviconUrl => $"./themes/favicon?{imageRand}";
    private string customStyleSheet;
    private string logoTeaserFirstRow;
    private string logoTeaserSecondRow;
    private string title;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var theme = UOW.FindObject<XpoThemeSettings>(null);
        title = theme.Title;
        customStyleSheet = theme.CustomCss;
        logoTeaserFirstRow = theme.LogoTeaserFirstRow;
        logoTeaserSecondRow = theme.LogoTeaserSecondRow;
    }

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        try
        {
            var theme = UOW.FindObject<XpoThemeSettings>(null);
            theme.CustomLogoMimeType = e.File.ContentType;
            using var reader = e.File.OpenReadStream();
            using var ms = new MemoryStream();
            await reader.CopyToAsync(ms);
            theme.CustomLogo = ms.ToArray();
            await UOW.CommitChangesAsync();
            StateHasChanged();
            Snackbar.Add("Changes saved successfully", Severity.Success);
            UpdateImage();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private async Task UploadFavicon(InputFileChangeEventArgs e)
    {
        try
        {
            var theme = UOW.FindObject<XpoThemeSettings>(null);
            using var reader = e.File.OpenReadStream();
            using var ms = new MemoryStream();
            await reader.CopyToAsync(ms);
            theme.CustomFacivon = ms.ToArray();
            await UOW.CommitChangesAsync();
            StateHasChanged();
            Snackbar.Add("Changes saved successfully", Severity.Success);
            UpdateImage();
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    private void UpdateImage()
        => imageRand = rng.Next();

    private async Task DeleteLogo()
    {
        var theme = UOW.FindObject<XpoThemeSettings>(null);
        theme.CustomLogoMimeType = "";
        theme.CustomLogo = Array.Empty<byte>();
        await UOW.CommitChangesAsync();
        StateHasChanged();
        Snackbar.Add("Changes saved successfully", Severity.Success);
        UpdateImage();
    }

    private async Task DeleteFavicon()
    {
        var theme = UOW.FindObject<XpoThemeSettings>(null);
        theme.CustomFacivon = Array.Empty<byte>();
        await UOW.CommitChangesAsync();
        StateHasChanged();
        Snackbar.Add("Changes saved successfully", Severity.Success);
        UpdateImage();
    }

    private void SaveChanges()
    {
        var theme = UOW.FindObject<XpoThemeSettings>(null);
        theme.Title = title;
        theme.CustomCss = customStyleSheet;
        theme.LogoTeaserFirstRow = logoTeaserFirstRow;
        theme.LogoTeaserSecondRow = logoTeaserSecondRow;
        UOW.CommitChanges();
        Snackbar.Add("Changes saved successfully", Severity.Success);
    }
}
