@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using Xenial.Identity.Data
@inject UserManager<XenialIdentityUser> UserManager
@if (claims.Any())
{
    <MudSimpleTable Dense>
        <thead>
            <tr>
                @if (AllowEdit)
                {
                    <th Style="width:0.1%; white-space: nowrap;">
                        <MudTooltip Text="Add">
                            <MudIconButton Icon="@Icons.Material.Filled.Add"
                                   Variant="Variant.Filled"
                                   Color="Color.Success"
                                   Size="Size.Small"
                                   Style="margin-left: 0.8rem;" />
                        </MudTooltip>
                    </th>
                }
                <th>Claim</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in claims)
            {
                @if (claim.Value?.StartsWith("{") ?? false)
                {
                    <tr>
                        @if (AllowEdit)
                        {
                            <td>
                                <MudStack Row>
                                    <MudSpacer />
                                    <MudTooltip Text="Delete">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Variant="Variant.Filled"
                                       Color="Color.Error"
                                       Size="Size.Small" />
                                    </MudTooltip>
                                    <MudTooltip Text="Edit">
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Size="Size.Small" />
                                    </MudTooltip>
                                </MudStack>
                            </td>
                        }
                        <td colspan="2">@claim.Type</td>
                    </tr>
                    <tr>
                        <td colspan="@(AllowEdit ? 3 : 2)" class="pa-0">
                            <MonacoEdit Value="@claim.Value"
                            Formatted
                            NoLineNumbers
                            ReadOnly
                            AdjustHeightToContent
                            Height="100px"
                            Width="calc(100% - .1px)"
                            Language="@CodeLanguage.Json" />
                        </td>

                    </tr>
                }
                else
                {
                    <tr>
                        @if (AllowEdit)
                        {
                            <td>
                                <MudStack Row>
                                    <MudSpacer />
                                    <MudTooltip Text="Delete">
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Variant="Variant.Filled"
                                       Color="Color.Error"
                                       Size="Size.Small" />
                                    </MudTooltip>
                                    <MudTooltip Text="Edit">
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Size="Size.Small" />
                                    </MudTooltip>
                                </MudStack>
                            </td>
                        }
                        <td>@claim.Type</td>
                        <td style="word-break: keep-all; white-space: nowrap;">
                            @if ((claim.Value?.StartsWith("https://") ?? false) || (claim.Value?.StartsWith("http://") ?? false))
                            {
                                <MudLink Href="@claim.Value" Target="_blank">@claim.Value</MudLink>
                            }
                            else
                            {
                                @claim.Value
                            }
                        </td>

                    </tr>
                }

            }
        </tbody>
    </MudSimpleTable>
}
else
{
    <MudText Typo="Typo.body2">No Claims</MudText>
}

@code {
    [Parameter, EditorRequired]
    public XenialIdentityUser User { get; set; }

    [Parameter]
    public bool AllowEdit { get; set; }

    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        claims = await UserManager.GetClaimsAsync(User);
    }
}
