@page
@model ExternalLoginsModel
@{
    ViewData["ASideClass"] = "show-aside";
    ViewData["Title"] = "Manage your external logins";
    ViewData["ActivePage"] = ManageNavPages.ExternalLogins;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="disable-2fa-page">
    <div class="disable-2fa-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="disable-2fa-page-tabs__list">
            <li class="disable-2fa-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="disable-2fa-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fab fa-github"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="disable-2fa-page-tabs__slider"><div class="indicator"></div></div>
        <div class="disable-2fa-page-tabs__content">

            @if (Model.CurrentLogins?.Count > 0)
            {
                <h4>Registered Logins</h4>

                @foreach (var login in Model.CurrentLogins)
                {
                    @if (Model.ShowRemoveButton)
                    {
                        <form class="xenial-form" id="@($"remove-login-{login.LoginProvider}")" asp-page-handler="RemoveLogin" method="post">
                            <ul class="xenial-form__list">
                                <li class="xenial-form__list-item">
                                    <input asp-for="@login.LoginProvider" name="LoginProvider" type="hidden" />
                                    <input asp-for="@login.ProviderKey" name="ProviderKey" type="hidden" />
                                    <label>@login.ProviderDisplayName</label>
                                    <button type="submit" class="btn btn-primary" title="Remove this @login.ProviderDisplayName login from your account"><i class="fab fa-@login.LoginProvider.ToLower()"></i> Remove @login.ProviderDisplayName</button>
                                </li>
                            </ul>
                        </form>
                    }
                    else
                    {
                        @: &nbsp;
                    }

                }
            }
            @if (Model.OtherLogins?.Count > 0)
            {
                <h4>Add another service to log in.</h4>

                <form id="link-login-form" asp-page-handler="LinkLogin" method="post" class="xenial-form">

                    <ul class="xenial-form__list">
                        @foreach (var provider in Model.OtherLogins)
                        {
                            <li class="xenial-form__list-item">
                                <button id="@($"link-login-button-{provider.Name}")" type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-@provider.Name.ToLower()"></i> Add @provider.DisplayName</button>
                            </li>
                        }
                    </ul>
                </form>
            }

        </div>
    </div>
</div>
