@page "/Admin/ApiResources/{resourceId:int}/Secrets/Add"

@model Xenial.Identity.Areas.Admin.Pages.ApiResources.Secrets.AddApiResourceSecretModel
@{
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
    ViewData["Title"] = "Add Api Resource Secret";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="admin-add-api-resources-secrets-page">
    <div class="admin-add-api-resources-secrets-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="admin-add-api-resources-secrets-page-tabs__list">
            <li class="admin-add-api-resources-secrets-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="admin-add-api-resources-secrets-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-cogs"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="admin-add-api-resources-secrets-page-tabs__slider"><div class="indicator"></div></div>
        <div class="admin-add-api-resources-secrets-page-tabs__content">
            <section>
                <form class="xenial-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <ul class="xenial-form__list">
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.Type"></label>
                            <select asp-for="Input.Type" asp-items="@Model.SecretTypes" class="form-control"></select>
                            <span asp-validation-for="Input.Type" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.Value"></label>
                            <input asp-for="Input.Value" class="form-control" />
                            <span asp-validation-for="Input.Value" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.HashType"></label>
                            <select asp-for="Input.HashType" asp-items="@Model.HashTypes" class="form-control"></select>
                            <span asp-validation-for="Input.HashType" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.Description"></label>
                            <input asp-for="Input.Description" class="form-control" />
                            <span asp-validation-for="Input.Description" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.Expiration"></label>
                            <input asp-for="Input.Expiration" class="form-control" />
                            <span asp-validation-for="Input.Expiration" class="text-danger"></span>
                        </li>
                        <li class="xenial-form__list-item">
                            <button type="submit" class="xenial-form__list-item-submit">@ViewData["Title"]</button>
                        </li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</div>
