@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-page">
    <div class="tabs">

        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <ul class="tabs__list">
            <li class="tabs__list-item" title="Features">
                <label class="tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-sign-in-alt"></i> <span>Login</span>
                </label>
            </li>
            <li class="tabs__list-item" title="Delivery Contents">
                <label class="tabs__list-item-label" for="tab2" role="button">
                    <i class="fas fa-user-plus"></i> <span>Signup</span>
                </label>
            </li>
        </ul>

        <div class="slider"><div class="indicator"></div></div>
        <div class="content">
            <section class="login-form">
                <h2>Login</h2>
                @if (Model.ExternalLogins.Any())
                {
                    <ul class="login-form__providers">
                
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">

                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <li class="login-form__providers-item">
                                    <button type="submit" class="login-form__providers-item-button @provider.Name.ToLower()" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                </li>
                            }

                        </form>
                    </ul>
                    <span class="login-form-or">or</span>
                }
                
                <form asp-route="Login" class="xenial-form">
                    <ul class="xenial-form__list">
                        <li class="xenial-form__list-item">
                            <input type="hidden" asp-for="ReturnUrl" />
                            <label asp-for="Input.Email"></label>
                            <input placeholder="Username" asp-for="Input.Email" autofocus>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.Password"></label>
                            <input type="password" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                        </li>            
                        <li class="xenial-form__list-item">
                            <label asp-for="Input.RememberMe"></label>
                            <input class="toggle" asp-for="Input.RememberMe">
                        </li>
                        <li class="xenial-form__list-item">
                            <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                            <button class="xenial-form__list-item-submit" name="button" value="login">Login</button>
                        </li>
                    </ul>
                </form>

                <partial name="_ValidationSummary" />
            </section>
            <section>
                <h2>Delivery Contents</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
            </section>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
