@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
}

<div class="login-with-2fa-page">
    
    <div class="login-with-2fa-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="login-with-2fa-page-tabs__list">
            <li class="login-with-2fa-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="login-with-2fa-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-key"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>

        <div class="login-with-2fa-page-tabs__slider"><div class="indicator"></div></div>
        <div class="login-with-2fa-page-tabs__content">
            <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
            <form class="xenial-form" method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>

                <ul class="xenial-form__list">
                    <li class="xenial-form__list-item">
                        <label asp-for="Input.TwoFactorCode"></label>
                        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Input.RememberMachine">
                            @Html.DisplayNameFor(m => m.Input.RememberMachine)
                        </label>
                        <input class="toggle" asp-for="Input.RememberMachine" />
                    </li>
                    <li class="xenial-form__list-item">
                        <button type="submit" class="xenial-form__list-item-submit">Log in</button>
                    </li>
                </ul>
            </form>
            <p>
                Don't have access to your authenticator device?<br />
                You can <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
