@model ConsentViewModel

@{
    ViewData["Title"] = Model.ClientName;
    Layout = "_LayoutWithoutSide";
}

<div class="consent-page">
    <div class="consent-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <ul class="consent-page-tabs__list">
            <li class="consent-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="consent-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-key"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
        </ul>
        <div class="consent-page-tabs__slider"><div class="indicator"></div></div>
        <div class="consent-page-tabs__content">
            <section>
                <ul class="xenial-form__list">

                    <li class="xenial-form__list-item">
                        @if (!string.IsNullOrEmpty(Model.ClientUrl))
                        {
                            <div class="consent-page__client">
                                <a href="@Model.ClientUrl" target="_blank">
                                    @if (Model.ClientLogoUrl != null)
                                    {
                                        <div class="consent-page__client-logo"><img src="@Model.ClientLogoUrl"></div>
                                    }
                                    else
                                    {
                                        <i class="fa fa-info-circle"></i>
                                    }
                                    <strong>@Model.ClientName</strong>
                                </a>
                                @if (!string.IsNullOrEmpty(Model.ClientDescription))
                                {
                                    <p class="consent-page__client-description">@Model.ClientDescription</p>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="consent-page__client">
                                @if (Model.ClientLogoUrl != null)
                                {
                                    <div class="consent-page__client-logo"><img src="@Model.ClientLogoUrl"></div>
                                }
                                else
                                {
                                    <i class="fa fa-info-circle"></i>
                                }
                                <strong>@Model.ClientName</strong>
                                @if (!string.IsNullOrEmpty(Model.ClientDescription))
                                {
                                    <p class="consent-page__client-description">@Model.ClientDescription</p>
                                }
                            </div>
                        }
                    </li>
                </ul>

                <p class="text-center">is requesting your permission</p>
                <p class="text-center">Uncheck the permissions you do not wish to grant.</p>

                <partial name="_ValidationSummary" />

                <form asp-action="Index" class="xenial-form">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <ul class="xenial-form__list">
                        @if (Model.IdentityScopes.Any())
                        {
                            <li class="xenial-form__list-item">
                                <label class="xenial-form__list-item__consent-header">
                                    <i class="fas fa-user"></i>
                                    Personal Information
                                </label>
                            </li>
                        }
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                        @if (Model.IdentityScopes.Any())
                        {
                            <li class="xenial-form__list-item">
                                <hr />
                            </li>
                        }

                        @if (Model.ApiScopes.Any())
                        {
                            <li class="xenial-form__list-item">
                                <label class="xenial-form__list-item__consent-header">
                                    <i class="fas fa-puzzle-piece"></i>
                                    Application Access
                                </label>
                            </li>
                        }
                        @foreach (var scope in Model.ApiScopes)
                        {
                            <partial name="_ScopeListItem" model="scope" />
                        }
                        @if (Model.ApiScopes.Any())
                        {
                            <li class="xenial-form__list-item">
                                <hr />
                            </li>
                        }
                        <li class="xenial-form__list-item">
                            <label class="xenial-form__list-item__consent-header">
                                <i class="fas fa-desktop"></i>
                                Your Device
                            </label>
                        </li>
                        <li class="xenial-form__list-item">
                            <label asp-for="Description">
                                <i class="fas fa-laptop-code"></i>
                                Description
                            </label>
                            <input placeholder="Description or name of device" asp-for="Description" autofocus>
                        </li>

                        @if (Model.AllowRememberConsent)
                        {
                            <li class="xenial-form__list-item">
                                <label class="form-check-label" asp-for="RememberConsent">
                                    Remember My Decision
                                </label>
                                <input class="toggle" asp-for="RememberConsent">
                            </li>
                        }

                        <li class="xenial-form__list-item">
                            <button name="button" value="no" class="button xenial-form__list-item-danger">No, Do Not Allow</button>
                            <button name="button" value="yes" class="button xenial-form__list-item-submit" autofocus>Yes, Allow</button>
                        </li>
                    </ul>
                </form>
            </section>
        </div>
    </div>
</div>
