@page "/Admin/ApiResources/View/{id}"

@model Xenial.Identity.Areas.Admin.Pages.ApiResources.ViewApiResourceModel
@{
    Layout = "/Views/Shared/_LayoutWithoutSide.cshtml";
    ViewData["Title"] = "Api Resource";
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="admin-view-api-resources-page">
    <div class="admin-view-api-resources-page-tabs">
        <input type="radio" id="tab1" name="tab-control" checked>
        <input type="radio" id="tab2" name="tab-control">
        <input type="radio" id="tab3" name="tab-control">
        <ul class="admin-view-api-resources-page-tabs__list">
            <li class="admin-view-api-resources-page-tabs__list-item" title="@ViewData["Title"]">
                <label class="admin-view-api-resources-page-tabs__list-item-label" for="tab1" role="button">
                    <i class="fas fa-lock"></i> <span>@ViewData["Title"]</span>
                </label>
            </li>
            <li class="admin-view-api-resources-page-tabs__list-item" title="Claims">
                <label class="admin-view-api-resources-page-tabs__list-item-label" for="tab2" role="button">
                    <i class="fas fa-file-alt"></i> <span>Claims</span>
                </label>
            </li>
            <li class="admin-view-api-resources-page-tabs__list-item" title="Roles">
                <label class="admin-view-api-resources-page-tabs__list-item-label" for="tab3" role="button">
                    <i class="fas fa-lock"></i> <span>Roles</span>
                </label>
            </li>
        </ul>
        <div class="admin-view-api-resources-page-tabs__slider"><div class="indicator"></div></div>
        <div class="admin-view-api-resources-page-tabs__content">
            <section>
                <ul class="xenial-form__list">
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.Id">Id <i class="fa fa-fingerprint" data-copy="@Model.Output.Id"></i></label>
                        <input asp-for="Output.Id" disabled />
                    </li>
                    <li class="xenial-form__list-item">
                        <label asp-for="Output.UserName"></label>
                        <input asp-for="Output.UserName" disabled />
                    </li>
                    <li class="xenial-form__list-item">
                        <label class="button" for="tab2" role="button">
                            <i class="fas fa-file-alt"></i> <span>Claims</span>
                        </label>
                    </li>
                    <li class="xenial-form__list-item">
                        <label class="button" for="tab3" role="button">
                            <i class="fas fa-lock"></i> <span>Roles</span>
                        </label>
                    </li>
                    <li class="xenial-form__list-item">
                        <a href="/Admin/Users/Edit/@Model.Output.Id" class="button xenial-form__list-item-submit" role="button">
                            <i class="fas fa-pen"></i> <span>Edit</span>
                        </a>
                    </li>
                    <li class="xenial-form__list-item">
                        <a href="/Admin/Users/Delete/@Model.Output.Id" class="button xenial-form__list-item-danger" role="button">
                            <i class="fas fa-times"></i> <span>Delete</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                @(Html.Grid(Model.Output.Claims).Build(columns =>
                {
                    columns.Add(model => model.Issuer).Titled("Issuer");
                    columns.Add(model => model.Type).Titled("Type");
                    columns.Add(model => model.Value).Titled("Value");
                })
                .Empty("No data found")
                )
            </section>
            <section>
                @(Html.Grid(Model.Output.Roles).Build(columns =>
                {
                    columns.Add(model => $"<i class=\"fa fa-fingerprint\" data-copy=\"{model.Id}\" title=\"{model.Id}\"></i>")
                        .Named(nameof(Xenial.Identity.Areas.Admin.Pages.Users.ViewUserModel.UserOutputModel.RoleModel.Id))
                        .Encoded(false)
                        .Titled("Id")
                        .Css("user-image");

                    columns.Add(model => $"<a href=\"/Admin/Roles/View/{model.Id}\">{model.Name}</a>").Encoded(false).Titled("Name");
                })
                .Empty("No data found")
                )
            </section>
        </div>
    </div>
</div>
